.yasgui.context-menu {
  position: absolute;
  z-index: 10;
  background: var(--yasgui-bg-primary);
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
  min-height: fit-content;
  min-width: 140px;
  max-width: 250px;
  font-size: 12px;
  border: 1px solid var(--yasgui-border-color);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-clip: padding-box;
  hr {
    margin: 6px auto;
    border: none;
    border-top: 1px solid var(--yasgui-border-color);
  }
  .context-menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .context-menu-item {
    display: block;
    padding: 6px 16px;
    clear: both;
    font-weight: 400;
    line-height: 1.4;
    color: var(--yasgui-text-primary);
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: var(--yasgui-button-hover);
      background-color: var(--yasgui-bg-secondary);
    }
    &.disabled {
      text-decoration: none;
      color: var(--yasgui-text-muted);
      background-color: transparent;
      cursor: not-allowed;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
