.yasqe {
  .CodeMirror {
    line-height: 1.5em;
    font-size: 14px;
    border: 1px solid var(--yasgui-border-color);
  }

  span.cm-error {
    border-bottom: 2px dotted red;
  }
  .gutterErrorBar {
    width: 4px;
  }

  .CodeMirror-foldmarker {
    color: #6e2500;
    text-shadow:
      #ff935e 1px 1px 2px,
      #ff935e -1px -1px 2px,
      #ff935e 1px -1px 2px,
      #ff935e -1px 1px 2px;
    font-size: 19px;
  }
}

// Rainbow bracket colors for default theme
.cm-s-default {
  span.cm-bracket-level-0 {
    color: #ffd700;
  } // Gold
  span.cm-bracket-level-1 {
    color: #da70d6;
  } // Orchid
  span.cm-bracket-level-2 {
    color: #87ceeb;
  } // Sky blue
  span.cm-bracket-level-3 {
    color: #98fb98;
  } // Pale green
  span.cm-bracket-paren {
    color: #997;
  } // Constant color for () and []
  span.cm-bracket-mismatch {
    color: #f00;
  } // Red for mismatched brackets
}
// Put these outside of yasqe as the root element can be changed
.CodeMirror-hints.default {
  max-width: 1000px;
}
.CodeMirror-hints.default li {
  text-overflow: ellipsis;
  overflow: hidden;
}
@media only screen and (max-width: 1000px) {
  .CodeMirror-hints.default {
    max-width: 800px;
  }
}
