@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/solid.css";

.yasqe {
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;

  .CodeMirror {
    min-height: 60px;
    // Height is set via inline style by the resize handler
  }

  span.shortlinkErr {
    font-size: small;
    color: red;
    font-weight: bold;
    float: left;
  }

  .CodeMirror-hint {
    max-width: 30em;
  }

  .notificationContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
  }

  .notification {
    z-index: 4;
    padding: 0 5px;
    max-height: 0px;
    color: var(--yasgui-notification-text, #999);
    background-color: var(--yasgui-notification-bg, #eee);
    font-size: 90%;
    text-align: center;
    transition: max-height 0.2s ease-in;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;

    &.active {
      max-height: 3rem;
    }
  }

  .parseErrorIcon {
    font-size: 13px;
    color: #d32f2f;
    cursor: pointer;
    margin-left: 2px;
  }

  .constructVariableWarning {
    width: 13px;
    height: 13px;
    margin-top: 2px;
    margin-left: 2px;
    font-size: 13px;
    color: orange;
    cursor: pointer;
  }

  .yasqe_tooltip {
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
    padding: 5px 15px;
    width: 220px;
    white-space: normal;
    line-height: 1.5;
    margin-top: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;

    strong {
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .notificationLoader {
    width: 18px;
    height: 18px;
    vertical-align: middle;
  }

  .horizontalResizeWrapper {
    width: 100%;
    height: 10px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: row-resize;
  }

  .horizontalResizeChip {
    width: 20%;
    height: 4px;
    background-color: #d1d1d1;
    visibility: hidden;
    border-radius: 2px;
  }

  &:hover .horizontalResizeChip {
    visibility: visible;
  }
}
